:root{
  /* background colors */
  --intro_background: hsl(217, 28%, 15%);
  --main_background: hsl(218, 28%, 13%);
  --footer_background: hsl(216, 53%, 9%);
  --testimonial_background: hsl(219, 30%, 18%);

  /* call to action gradient colours */
  --cta_cyan:  hsl(176, 68%, 64%);
  --cta_blue:  hsl(198, 60%, 50%);

  /* text */
  --text: white;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}

body {
  font-family: 'Open Sans', sans-serif; 
  font-family: 'Raleway', sans-serif;
  background-color: var(--main_background);
}

button{
  border: none;
  outline: none;
  background-color: transparent;
}